@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=League+Spartan:wght@800&family=Open+Sans&family=Poppins:wght@300&family=Satisfy&display=swap');
@font-face {
  font-family: 'CustomFont';
  src: url('fonts/OpenSauceSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BoldFont';
  src: url('fonts/OpenSauceSans-SemiBold.ttf') format('truetype');
}

.bold{
  font-family: "BoldFont",sans-serif;
}

h1{
  font-size: 85px;
  font-family: 'League Spartan', sans-serif;
  margin: 10px;
  padding: 7px;
}
p{
  font-family:"CustomFont" ,sans-serif ;
  font-size: 21px;
  font-weight: 100;
  line-height: 1.8rem;
}
.input-container {
    position: relative;

  }


  
.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.icon2 {
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translateY(-50%);
}

input[type="text"] {
  padding-left: 30px; /* Adjust the value based on the icon size */
  /* padding: 8px; */
  padding: 10px 30px;
  font-size: 20px;
  padding-right: 0px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid black;
  width: 350px;
}

.home{
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.foot{
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 55px;
}
.foot a{
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  
}
.foot p{
  margin: 0;
}
.foot p:hover{
  border-bottom: 2px solid black;
}



.home h1,.code h1{
  margin: 15px 0;
}
.home p{
  text-align: center;
  margin: 40px 0;

}

button{
  position: relative;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  font-size: 21px;
  border: none;
  background-image: linear-gradient( to right, rgb(255, 145, 0) , rgb(207, 23, 137),rgb(122, 9, 122));
}

.head a{
  color: black;
  text-decoration: none;
  font-size:40px ;
  font-family: 'League Spartan', sans-serif;
  
}
.head{

  flex-grow: 1;
  height: 10vh;
  margin: 0 0 0 5%;

}

.why-content{
  max-width: 750px;
  justify-content: space-around;
  margin: 0;
}

.why-content div{
  display: flex;
  flex-direction: row;
}
.why-content div *{
  margin: 8px;
}
.why h1,.code h1{
  display: inline;
}

.why{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.why1,.why-content{
  margin: 20px;

}
.why1{
  justify-content: flex-start;
}
.code{
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.code p{
  text-align: center;
  margin: 40px 0;
}

@media (max-width:768px) {
  .head{
    margin: 0 0 0 5%;
  }
  .head a{
    
    font-size:27px ;
   
    
  }
  
  
  
  input[type="text"]{
    width: 200px;
    
  }
  .why{
    height: auto;
    margin-top: 15%;
  }
  h1{
    font-size: 50px;
    text-align: center;
  }
}

@media only screen and (min-width:1920px) {
  h1{
    font-size: 150px;
    margin: 30px;
  }
  
  .home{
    margin: 10px 0;
  }
  p{
    font-size: 30px;
    line-height: 3rem;
    font-weight: 100;

  }
  .head{
    margin: 0 0 0 5%;
  }
  .why-content{
    margin: 50px;
    max-width: 1050px;
    flex-grow: 1;
  }
  input[type="text"]{
    font-size: 25px;
    height: 50px;
    width: 400px;
    padding: 0 50px;
    padding-right: 50px;
    border-radius: 10px;
  }
  button{
    height: 50px;
    padding: 10px;
  }
  
  
  
}
@media (height:1024px) {
  .why{
    flex-direction: column;
  }
  
}

h1 {
  padding: 30px 0 40px;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  bottom: 16px;
  height: 10px;
  /* transform: skew(-12deg) translateX(-50%); */
  background: rgb(0, 0, 0);
  z-index: -1;
}
.home h1::before{
  left: 35%;
  width: 70px;
}
.page1 h1::before{
  left: 0;
  width: 100px;
}
.code h1::before{
  left: 42%;
  width: 80px;
}
.loader{
  height: 100vh;
  background-color: aliceblue;
  position: absolute;
}
.head{
  flex-basis: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.page1 .foot{
  height: 5vh;
  flex-basis: 100%;
  
}
#clear{
  background-image: none;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  /* background-color: red; */
  height: 30px;
}
.icon,.icon2{
  margin: 0 10px;
  font-size: 24px;
}
